* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    cursor: pointer;
}


/* .logo span {
    color: white;
    font-weight: bold;
    border-radius: 20px;
} */

.logo img {
    width: 200px;
}

.menu_bar {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    /* background-color: rgb(9, 85, 136); */
    align-items: center;
    width: 100%;
    min-height: 15vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: fixed;
    z-index: 1;
}

.menu_bar ul {
    display: flex;
}

.menu_bar ul li {
    list-style: none;
    margin: 0px 2px;
    position: relative;
}

.menu_bar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 6px 20px;
    transition: linear 0.4s;
}


/* đổi màu chữ khi hover */

.menu_bar ul li a:hover {
    color: rgb(153, 153, 153);
    transition: linear 0.4s;
}


/* màu đường kẻ viềng mỗi thanh menu */

.underline {
    background-color: rgb(23, 189, 255);
    width: 0px;
    height: 0.5px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    transition: ease 0.4s;
}

.menu_bar ul li a:hover~.underline {
    width: 40%;
    opacity: 1;
    visibility: visible;
    transition: ease 0.4s;
}


/* Drop down list khi chưa co gian màn hình */

.drop-down-list {
    position: relative;
}

.menu_bar .nav_links .drop-down-list .drop-down-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 10px;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.drop-down-list .drop-down-content li a:hover {
    background-color: rgb(53, 56, 55, 0.5);
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}


/* .drop-down-content:focus-within {
    display: none !important;
} */

.menu_bar .nav_links .drop-down-list:hover .drop-down-content {
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 1;
    transform: translate(-10px, -0px);
    transition: 0.3s ease-in;
}

.drop-down-list:hover :first-child {
    color: rgb(153, 153, 153);
}


/* drop dow responsive */

@media screen and (max-width:820px) {
    .menu_bar {
        justify-content: left;
        padding: 0px 40px;
    }
    .logo img {
<<<<<<< HEAD
        width: 100px;
=======
        width: 150px;
>>>>>>> 78b20a98af7c5ad2e6cc3b25a3339361689c62a0
    }
    .menu_bar .nav_links .drop-down-list .drop-down-content {
        position: relative;
        display: none;
        width: 100%;
        background-color: transparent;
        padding-bottom: 0px;
        padding-top: 0px;
        text-align: center;
    }
    .drop-down-list .drop-down-content li a {
        padding: 5px 20px;
        align-items: center;
    }
    .drop-down-list .drop-down-content li a:hover {
        background-color: transparent;
        color: rgb(133, 133, 133);
    }
    .menu_bar .nav_links .drop-down-list:hover .drop-down-content {
        display: block;
    }
    .menu_bar ul li a:hover~.underline {
        visibility: hidden;
    }
}


/* end drop down responsive */


/* Thanh burgger ản hiện khi thu man hình */

.bugger {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 40px;
}

.bugger div {
    background-color: gray;
    width: 25px;
    margin: 5px;
    height: 3px;
    transition: ease 0.4s;
}

@media screen and (max-width:820px) {
    body {
        overflow-x: hidden;
    }
    .bugger {
        display: block;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        visibility: hidden;
        right: -100%;
        top: 0px;
        background-color: rgb(49, 47, 47, 0.9);
        display: block;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
        position: absolute;
        top: 20%;
    }
    .menu_bar ul li a {
        padding: 10px 20px;
    }
}

.nav-active {
    /* transform: translateX(0%); */
    right: 0;
    visibility: visible;
    transition: 0.5s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}